<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB45D06qMrYniLBYUTOmo4yTcmJG3iyJP0</string>
	<key>GCM_SENDER_ID</key>
	<string>144890627483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notingpad</string>
	<key>PROJECT_ID</key>
	<string>notingpad-c10ee</string>
	<key>STORAGE_BUCKET</key>
	<string>notingpad-c10ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144890627483:ios:3d2261f0c824a1e1aa8d3e</string>
</dict>
</plist>